primColorAvailable = <0,1,0>

// Anything before configURL will be kept unless overriden by configURL
configURL = https://speculoos.world/rental/Residences
// configURL is honored only if set in local .config
// local .config will ignore anything after configURL

duration = 30
maxDuration = 3650
renewable = TRUE
expireReminder = 7
expireGrace = 30
